{% trans_default_domain 'manual' %}
<h5 class="font-weight-bold">{{ 'manual.livestream.title.usage'|trans }}</h5>
<p>
    {{ 'manual.livestream.description.usage'|trans|raw }}
    <img src="{{ asset('build/images/workflow.bac6bfa2.png') }}" alt="{{ 'manual.livestream.workflow.img_alt'|trans }}" />
</p>
