security:
    encoders:
        FOS\UserBundle\Model\UserInterface: bcrypt
        Symfony\Component\Security\Core\User\User:
            algorithm: bcrypt
            cost: 12

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username
        in_memory:
            memory:
                users:
                    livestream_server:
                        password: $2y$13$olnfLCvgbF70xjiwgaZLuOYX7gkqYLWa/JkbyKrBepJMgqV9VafGG
                        roles: ROLE_API

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        rest_api:
            provider: in_memory
            pattern: ^/api(?!/doc$)
            stateless: true
            anonymous: ~
            http_basic: ~
            logout_on_user_change: true
        main:
            pattern: ^/
            user_checker: security.user_checker
            form_login:
                provider: fos_userbundle
                csrf_token_generator: security.csrf.token_manager
                always_use_default_target_path: false
                default_target_path: scheduler_list
            logout:       true
            anonymous:    true

    access_control:
    - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
    - { path: ^/api/doc, role: ROLE_USER }
    - { path: ^/api, role: ROLE_API }
    - { path: /.*/admin/.*, role: ROLE_SUPER_ADMIN }
    - { path: /.*, role: ROLE_USER }
