###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=4cb3cc0196798741cb9d8e78d7219706
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_HOST=db
DATABASE_PORT=3306
DATABASE_NAME=livestream
DATABASE_USER=livestream
DATABASE_PASSWORD=livestream
###< doctrine/doctrine-bundle ###

LIVESTREAM_USER=livestream

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###
