###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/tests/_reports
docker-data/logs/*
!docker-data/logs/.gitkeep

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###
