{% extends "base.html.twig" %}
{% block title %}{{ 'home.list.title'|trans }}{% endblock title %}
{% block pageTitle %}{{ 'home.list.title'|trans }}{% endblock pageTitle %}

{% block content %}
    <div>
        <p>Welcome. Todo: add explanation livestream below.</p>
    </div>
{% endblock content %}
