{% extends "base.html.twig" %}
{% set active_page = 'admin_home' %}
{% block title %}{{ 'admin.list.title'|trans }}{% endblock title %}
{% block pageTitle %}{{ 'admin.list.title'|trans }}{% endblock pageTitle %}

{% block content %}
    <div>
        <p>Welcome. Todo: add explanation livestream below.</p>
    </div>
{% endblock content %}
