<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Livestream - {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.2c7dab6b.ico') }}" />
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        {% include 'components/navbar.html.twig' %}
    </nav>
    <body>
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>{% block pageTitle %}{% endblock pageTitle %}</h2>
                        {% include 'components/flash.html.twig' %}
                        {% block content %}{% endblock content %}
                    </div>
                </div>
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
