{% extends "base.html.twig" %}
{% block title %}{{ 'admin.list.title'|trans }}{% endblock title %}
{% block pageTitle %}{{ 'admin.list.title'|trans }}{% endblock pageTitle %}

{% block content %}
    <div>
        <p>Welcome. Click here to login...or someting. page need to be checked up also lang-keys page title</p>
    </div>
{% endblock content %}
