{% extends "base.html.twig" %}
{% trans_default_domain 'homepage' %}
{% block title %}{{ 'admin.list.title'|trans }}{% endblock title %}

{% block content %}
    <h2>{{ 'admin.list.title'|trans }}</h2>
    {% include 'components/flash.html.twig' %}
    <div>
        <p>Welcome. Click here to login...or something. page need to be checked up also lang-keys page title</p>
    </div>
{% endblock content %}
