{% trans_default_domain 'flash_messages' %}
{% for type, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <div class="alert alert-{{ type }}">
            {{ flash|trans }}
        </div>
    {% endfor %}
{% endfor %}
